* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

html, body {
    overflow-x: hidden;  
}


.container {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 280px auto auto;
    grid-template-areas:
    "chart1 chart1 chart2 chart2"
    "chart1 chart1 chart2 chart2"
    "chart3 chart3 chart3 chart3"
    "chart4 chart4 chart5 chart5"
    "chart4 chart4 chart5 chart5"
   ;
}

.container1, .container2,.container3,.container4,.container5 {
    border: 1px solid black;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 {
    grid-area: chart1;
}
.container2 {
    grid-area: chart2;
}

.container3 {
    grid-area: chart3;
}

.container4 {
    grid-area: chart4;
    border: 1px solid black;
    height: 300px;
}

.container5 {
    grid-area: chart5;
    border: 1px solid black;
    height: 300px;
}

.container1__chart, .container2_chart, .container3__chart  {
    max-height: 90%;
}

/* график 4 */

.ct-series-a .ct-bar {
  /* цвет столбцов */
  /* ширина столбца */
  stroke-width: 30px;
}
  

/* график5 */

.container5__chart  {
    width: 80%;
}